/* Start Global Variable */
:root {
    --first-color: rgb(236, 56, 56);
    --second-color: rgb(187, 42, 42);
    --third-color: rgb(136, 35, 35);
    --text-color: white;
    --shadow1: rgb(252, 221, 222);
    --shadow2: rgb(250, 177, 181);
    --shadow3: rgb(252, 151, 156);
    --shadow4: rgb(252, 119, 126);
    --shadow5: rgb(253, 77, 86);
    --one: rgb(160, 19, 19);
    --two: rgb(245, 200, 102);
    --bad:rgb(0 0 0 /72%);
    --good:rgba(255, 255, 255, 0.637);
}
/* End Global Variable :) */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(211deg, var(--second-color), var(--first-color)  );
    background-attachment: fixed;
    height: 196vh;
    scroll-behavior: smooth;
}

.ch-box,.ch-box p {
    padding: 10px;
}

.box {
    background-color: rgb(255 70 70);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 16px;
    width: 32%;
    height: 23%;
    z-index: 3;
}

.first-shadow,
.second-shadow,
.third-shadow,
.fourth-shadow,
.fifth-shadow,
.sixth-shadow {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 16px;
    width: 32%;
    height: 23%;
    transition: 1s;
    box-shadow: 0px 0px 0px 0px var(--shadow3);
}

.box-container {

    z-index: -70;
}

.box-container:hover .first-shadow {
    z-index: 1;
    box-shadow: -3px 3px 0px 0px var(--text-color);
    transition: 1s;
}

.box-container:hover .second-shadow {
    z-index: -1;
    box-shadow: -5px 5px 0px 0px var(--shadow1);
    transition: 1s;
}

.box-container:hover .third-shadow {
    z-index: -2;
    transition: 1s;
    box-shadow: -7px 7px 0px 0px var(--shadow2);
}

.box-container:hover .fourth-shadow {
    z-index: -3;
    transition: 1s;
    box-shadow: -9px 9px 0px 0px var(--shadow3);
}

.box-container:hover .fifth-shadow {
    z-index: -4;
    box-shadow: -11px 11px 0px 0px var(--shadow4);
    transition: 1s;
}

.box-container:hover .sixth-shadow {
    z-index: -5;
    transition: 6s;
    box-shadow: -13px 13px 0px 3px var(--shadow5);
}

.gallery-word {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 101%;
    color: #fff;
    margin-right: 10px;
    margin-left: 10px;
}

hr {
    width: 1246px;
    margin-left: 10px;
}

.grid-container {
    position: absolute;
    height: 90vh;
    top: 106%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(4, 135px);
    row-gap: 10px;
    column-gap: 10px;
    padding: 10px;
}

img {
    
    width: 274.5px;
    height: 195.25px;
    border-radius: 6px;
}

.grid-items1,
.grid-items2 
.grid-items3
.grid-items4 
.grid-items5 
.grid-items6 
.grid-items7 
.grid-items8 
.grid-items9 
.grid-items10 
.grid-items11 
.grid-items12 {
    /* position: relative; */
    border-radius: 6px;
    
}

#item2 {
    grid-row: 1/3;
    grid-column: 2;
}


#item9 {
    grid-row: 1/5;
    grid-column: 4;
}

.i1,
.i2,
.i3,
.i4,
.i5,
.i6,
.i7,
.i8,
.i9,
.i10 {
    width: 312px;
    border: 10px solid rgba(7, 3, 3, 0.178);
    border-radius: 17px;
    border-color: linear;
    height: 113px;

}

.i11 {
    width: 315px;
    height: 262px;
    border: 10px solid rgba(7, 3, 3, 0.178);
    border-radius: 18px;
}

.i12 {
    height: 548px;
    width: 315px;
    border: 10px solid rgba(7, 3, 3, 0.178);
    border-radius: 18px;
}

.h {
    position: absolute;
    text-align: center;
    width: 293px;
    left: 19px;
    z-index: 2;
    top: 19px;
    border-radius: 9px;
    height: 94px;
    color: #ffffffa6;
    background-color: rgba(0, 0, 0, 0.39);
    opacity: 0;
    transition: 1s;
}

.BB {
    position: absolute;
    text-align: center;
    width: 0px;
    right: 1036px;
    z-index: 2;
    top: 310px;
    border-radius: 7px;
    height: 93px;
    color: #ffffffa6;
    background-color: rgba(0, 0, 0, 0.39);
    opacity: 0;
    transition: 1s;
}


.HP {
    position: absolute;
    text-align: center;
    width: 293px;
    left: 19px;
    z-index: 2;
    top: 165px;
    border-radius: 6px;
    height: 0px;
    color: #ffffffa6;
    background-color: rgba(255, 249, 249, 0.562);
    opacity: 0;
    transition: 1s;
}

.h:hover {
    opacity: 100%;
    transition: 1s;
}

.hxh {
    position: absolute;
    text-align: center;
    width: 292px;
    left: 20px;
    z-index: 2;
    top: 455px;
    border-radius: 6px;
    height: 0px;
    color: #ffffffa6;
    background-color: rgba(0, 0, 0, 0.39);
    opacity: 0;
    transition: 1s;
}
.hxh2 {
    height: 242px;
    position: absolute;
    text-align: center;
    width: 0px;
    left: 353px;
    z-index: 2;
    top: 20px;
    border-radius: 8px;
    color: #ffffffa6;
    background-color: rgba(0, 0, 0, 0.39);
    opacity: 0;
    transition: 1s;
}
.spider {
    height: 93px;
    position: absolute;
    text-align: center;
    width: 0px;
    left: 353px;
    z-index: 2;
    top: 455px;
    border-radius: 8px;
    color: #ffffffa6;
    background-color: rgba(248, 246, 246, 0.5);
    opacity: 0;
    transition: 1s;
}
.friends {
    height: 0px;
    position: absolute;
    text-align: center;
    width: 292px;
    left: 353px;
    z-index: 2;
    top: 309px;
    border-radius: 8px;
    color: #ffffffa6;
    background-color: rgba(248, 246, 246, 0.5);
    opacity: 0;
    transition: 1s;
}
.friends2 {
    height: 94px;
    position: absolute;
    text-align: center;
    width: 0px;
    left: 690px;
    bottom: 43px;
    z-index: 2;
    border-radius: 7px;
    color: #ffffffa6;
    background-color: rgba(248, 246, 246, 0.5);
    opacity: 0;
    transition: 1s;
}
.HIMYM {
    height: 0px;
    position: absolute;
    text-align: center;
    width: 292px;
    left: 690px;
    bottom: 189px;
    z-index: 2;
    border-radius: 7px;
    color: #ffffffa6;
    background-color: rgba(248, 246, 246, 0.5);
    opacity: 0;
    transition: 1s;
}
.stranger-things {
    height: 0px;
    position: absolute;
    text-align: center;
    width: 292px;
    left: 690px;
    bottom: 334px;
    z-index: 2;
    border-radius: 7px;
    color: #ffffffa6;
    background-color: rgb(0 0 0 / 72%);
    opacity: 0;
    transition: 1s;
}
.fault-in-our-stars {
    height: 0px;
    position: absolute;
    text-align: center;
    width: 292px;
    left: 690px;
    bottom: 479px;
    z-index: 2;
    border-radius: 7px;
    color: #ffffffa6;
    background-color: rgba(248, 246, 246, 0.5);
    opacity: 0;
    transition: 1s;
}
.black-widow {
    height: 528px;
    width: 0px;
    position: absolute;
    left: 1022px;
    bottom: 44px;
    z-index: 2;
    border-radius: 7px;
    background-image: linear-gradient(to right, var(--bad) 55% ,var(--good));
    transition: 1s;
    opacity: 0;
}
.grid-items3:hover .fault-in-our-stars,.grid-items5:hover .stranger-things
,.grid-items9:hover .HIMYM {
    height: 93px;
    opacity: 100%;
    transition: 1s;
}
.big-logo,.breaking-bad-logo.friends-logo,.harry-potter-logo,.hunter-logo,.spider-logo,.how-logo
,.stranger-things-logo,.fault-in-our-stars-logo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.friends-logo,.hunter-logo {
    width:174.5px; 
    height:95.25px;
}
.big-logo {
    width: 86.5px;
    height: 83.25px;
}
.harry-potter-logo {
    width:196.5px; 
    height:95.25px;
}
.breaking-bad-logo {
    width: 164.5px;
    height: 84.25px;
}
.spider-logo {
    width: 201.5px;
    height: 67.25px;
 }
 .how-logo {
     width: 134.5px;
     height: 55.25px
}
.stranger-things-logo {
    width: 174.5px;
    height: 95.25px;
    filter: drop-shadow(2px 4px 6px red);
}
.fault-in-our-stars-logo {
    width: 144.5px;
    height: 85.25px;
}
.black-widow-logo {
    transform: rotateZ(90deg);
    position: absolute;
    left: -60px;
    top: 162px;
    height: 195px;
    width: 462px;
}
.grid-items12:hover .friends2 {
    width: 292px;
    opacity: 100%;
    transition: 1s;
}
.grid-items6:hover .black-widow {
    width: 296px;
    opacity: 100%;
    transition: 1s;
}
.grid-items11:hover .spider {
    width: 292px;
    opacity: 100%;
    transition: 1s;
}
.grid-items10:hover .hxh {
    height: 93px;
    opacity: 100%;
    transition: 1s;
}
.grid-items4:hover .HP {
    height: 93px;
    opacity: 100%;
    transition: 1s;
}

.grid-items7:hover .BB {
    width: 293px;
    opacity: 100%;
    transition: 1s;
}

.grid-items2:hover .hxh2 {
    width: 295px;
    opacity: 100%;
    transition: 1s;
}
.grid-items8:hover .friends {
    height: 94px;
    opacity: 100%;
    transition: 1s;
}